* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
html,
body {
  height: 100%;
}
@media (max-width: 349px) {
  body.container-fluid {
    padding: 0;
  }
}
.bg-icon {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  font-size: 3000px;
  color: #8316ab;
  opacity: .07;
  background: white;
}
.bg-icon:before {
  display: inline-block;
  height: 2000px;
  position: absolute;
  top: -300px;
  left: -160px;
}
.bg-dk-modal {
  z-index: -5;
  -webkit-transition: -webkit-transform ease-out 0.3s;
       -o-transition: -o-transform ease-out 0.3s;
          transition: transform ease-out 0.3s;
  font-size: 100px;
  color: rgba(0, 0, 0, 0.1);
  position: fixed;
  right: -141px;
  top: 204px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.status {
  font-size: 22px;
  color: #555;
  position: fixed;
  -webkit-transition: -webkit-transform ease-out 0.3s;
       -o-transition: -o-transform ease-out 0.3s;
          transition: transform ease-out 0.3s;
}
html.mobile .status {
  top: 396px;
  right: -54px;
}
html.no-mobile .status {
  top: 386px;
  right: -66px;
}
.status.in {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}
@media (max-width: 500px) {
  .status.in {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@media (min-width: 500px) {
  .status {
    -webkit-transform: translateY(120%);
        -ms-transform: translateY(120%);
         -o-transform: translateY(120%);
            transform: translateY(120%);
    top: auto !important;
    right: 12px !important;
    bottom: 10px;
  }
}
.status span.screenMobile:before {
  content: 'phone';
}
@media (min-width: 768px) {
  .status span.screenMobile:before {
    content: 'portrait';
  }
}
@media (min-width: 992px) {
  .status span.screenMobile:before {
    content: 'landscape';
  }
}
@media (min-width: 1200px) {
  .status span.screenMobile:before {
    content: 'widescreen';
  }
}
.status span.screenDesktop:before {
  content: 'x-small';
}
@media (min-width: 768px) {
  .status span.screenDesktop:before {
    content: 'small';
  }
}
@media (min-width: 992px) {
  .status span.screenDesktop:before {
    content: 'medium';
  }
}
@media (min-width: 1200px) {
  .status span.screenDesktop:before {
    content: 'large';
  }
}
.target {
  padding: 3px 6px;
  background: #db9bf2;
  border-radius: 4px;
  border: 1px solid #333;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .3s;
       -o-transition: opacity .3s;
          transition: opacity .3s;
  position: fixed;
  top: 54%;
  left: 64%;
  z-index: 100;
}
.target.in {
  opacity: .8;
}
.show-bar {
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  text-align: left;
  margin-bottom: 0px;
  -webkit-transition: -webkit-transform ease-out 0.3s;
       -o-transition: -o-transform ease-out 0.3s;
          transition: transform ease-out 0.3s;
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
       -o-transform: translateY(-120%);
          transform: translateY(-120%);
}
.show-bar.in {
  -webkit-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}
@media (min-width: 768px) {
  .show-bar {
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 12px;
  }
}
.show-bar button {
  margin-right: 4px;
}
@media (max-width: 349px) {
  .show-bar button:first-child {
    margin-left: 4px;
  }
}
.show-bar .github {
  display: inline-block;
  overflow: hidden;
  width: 44px;
  height: 44px;
  border: 3px solid transparent;
  padding-left: 1px;
  margin-left: 7px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}
.show-bar .github span {
  -webkit-transition: .1s;
       -o-transition: .1s;
          transition: .1s;
  line-height: 38px;
  font-size: 46px;
  color: #999;
  margin-left: -2px;
}
.show-bar .github span:hover {
  color: #777;
  background-color: rgba(0, 0, 240, 0.3) !important;
}
.show-bar .github span.ok {
  background-color: rgba(0, 230, 0, 0.3);
}
.show-bar .github span.cancel {
  background-color: rgba(240, 0, 0, 0.3);
}
.options {
  color: #424242;
  width: 320px;
  float: left;
  padding: 15px;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 255, 0.15)), to(rgba(0, 0, 255, 0.05)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 255, 0.15), rgba(0, 0, 255, 0.05));
  background: -o-linear-gradient(left, rgba(0, 0, 255, 0.15), rgba(0, 0, 255, 0.05));
  background: linear-gradient(to right, rgba(0, 0, 255, 0.15), rgba(0, 0, 255, 0.05));
  position: relative;
  -webkit-transition: -webkit-transform ease-out 0.3s;
       -o-transition: -o-transform ease-out 0.3s;
          transition: transform ease-out 0.3s;
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
       -o-transform: translateX(-120%);
          transform: translateX(-120%);
}
.options:before,
.options:after {
  content: " ";
  display: table;
}
.options:after {
  clear: both;
}
.options.in {
  -webkit-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}
.options .qrcode-small {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(qrcode.png);
  -webkit-background-size: cover;
          background-size: cover;
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: .5;
  text-decoration: none;
}
.options fieldset {
  clear: both;
}
.options fieldset legend {
  color: maroon;
  font-size: 20px;
  margin-bottom: 5px;
  border-bottom-color: #d0d0d0;
}
.options fieldset:not(:last-child) {
  margin-bottom: 16px;
}
.options span.loose-label {
  font-weight: bold;
}
.options .details {
  clear: both;
  margin-bottom: 5px;
}
.options .details > div[class^="col-"],
.options .details div[class*=" col-"],
.options .details > label[class^="col-"],
.options .details label[class*=" col-"] {
  padding-left: 0;
}
.options .details label.input {
  line-height: 30px;
}
.options .details span.units {
  line-height: 30px;
  margin-left: -8px;
  font-size: .9em;
  vertical-align: middle;
}
.options .details .form-control-range {
  height: 30px;
  vertical-align: middle;
  padding: 0;
}
.options .backdropExample {
  display: block;
  width: 66px;
  height: 66px;
  position: absolute;
  top: -46px;
  left: 13px;
}
.main {
  overflow: hidden;
  height: 100%;
}
