.outline {
  outline: thin solid;
  outline-offset: -1px;
}
.outline-2 {
  outline-offset: -2px;
}
.outline-red {
  outline: thin solid;
  outline-offset: -1px;
  outline-color: red;
}
.outline-blue {
  outline: thin solid;
  outline-offset: -1px;
  outline-color: blue;
}
.bg-blue {
  background: rgba(0, 0, 255, 0.1);
}
.bg-red {
  background: rgba(255, 0, 0, 0.1);
}
.bg-green {
  background: rgba(0, 255, 0, 0.1);
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.dk-modal header {
  font-size: 23px;
  padding: 20px 32px;
}
.dk-modal header + main,
.dk-modal header + footer {
  padding-top: 0;
}
.dk-modal main {
  padding: 20px 32px;
}
.dk-modal main + footer {
  padding-top: 0;
}
.dk-modal footer {
  padding: 20px 32px;
  text-align: center;
}
.dk-modal span.exit-cancel {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 27px;
  font-size: 24px;
  position: absolute;
  top: 6px;
  right: 8px;
}
.dk-modal span.exit-cancel:hover {
  font-weight: bold;
  font-size: 27px;
  cursor: pointer;
}
