
@import 'dkMixins';

.dk-modal {
	@padding: 20px 32px;
	header {
		font-size: 23px;
		padding: @padding;
		& + main, & + footer {
			padding-top: 0;
		}
	}
	main {
		padding: @padding;
		& + footer {
			padding-top: 0;
		}
	}
	footer {
		padding: @padding;
		text-align: center;
	}
	span.exit-cancel {
		@height: 30px;
		@font-size: 24px;
		display: inline-block;
		text-align: center;
		width: @height;
		height: @height;
		line-height: @height - 3;
		font-size: @font-size;
		position:absolute;
		top: 6px;
		right: 8px;
		&:hover {
			font-weight: bold;
			font-size: @font-size + 3;
			cursor: pointer;
		}
	}
}

