.outline {
  outline: thin solid;
  outline-offset: -1px;
}
.outline-2 {
  outline-offset: -2px;
}
.outline-red {
  outline: thin solid;
  outline-offset: -1px;
  outline-color: red;
}
.outline-blue {
  outline: thin solid;
  outline-offset: -1px;
  outline-color: blue;
}
.bg-blue {
  background: rgba(0, 0, 255, 0.1);
}
.bg-red {
  background: rgba(255, 0, 0, 0.1);
}
.bg-green {
  background: rgba(0, 255, 0, 0.1);
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
#mymodal {
  padding: 30px;
}
#mymodal footer {
  text-align: center;
  line-height: 40px;
}
.two {
  position: absolute;
  left: 0;
  bottom: 0;
}
