<!DOCTYPE html>
<html ng-app='app' ng-strict-di>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>demo</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../tmp/css/dkModal.css">
	<link rel="stylesheet" href="../tmp/css/demo.css">

</head>
<body ng-controller="ctrl">
<br><br><br><br><br><br>
<a href="#" dk-modal-trigger="mymodal.html" data-target="this" >trigger</a><br>

<button ng-click="show()" class="btn btn-default">show</button>
<br><br><br><br><br><br>
<div class="three">
	safdasdffsadfasdfasdfasdfasdfasddsfsdfsdfsdfsadf<span class="one">span</span>
</div>

<div id="selModal" class="selectorModal" style="display:none;">
	selector modal contents<br>
	<button class="exit-cancel">cancel</button>
	<button class="exit-ok">ok</button>
</div>


<script type="text/ng-template" id="mymodal.html">
	<div id="one" ng-controller="addCtrl">
		<form>
			name: <input ng-model="user.name"><br>
			{{userAgent}}<br>
			<footer>
				<button type="button" class="btn btn-default exit-cancel">Cancel</button>
				<button type="submit" class="btn btn-default exit-ok">Ok</button>
			</footer>
		</form>
	</div>
</script>

<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-touch/angular-touch.js"></script>
<script src="../tmp/js/dkModal.js"></script>
<script src="../tmp/js/app.js"></script>
<script>

</script>
</body>
</html>
