<!DOCTYPE html>
<html ng-app='app' ng-strict-di class="demo">
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>dk-modal</title>
	<!--build:css vendor.min.css-->
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../icomoon/style.css">
	<!--endbuild-->
	<link rel="stylesheet" href="dk-modal.css">
	<!--<link rel="stylesheet" href="../dist/dk-modal.min.css">-->
	<link rel="stylesheet" href="demo.css">

</head>
<body ng-controller="bodyCtrl" class="container-fluid">
<div class="bg-icon icon-github"></div>
<div class="bg-dk-modal">dk-modal</div>

<div class="target">draggable<br>target</div>

<div class="status" ng-cloak>
	<span>{{opts.test.mode}}</span>
	<span class="screenMobile" ng-show="opts.test.mode == 'mobile'"></span>
	<span class="screenDesktop" ng-show="opts.test.mode == 'desktop'"></span>
</div>

<div class="show-bar">
	<button ng-click="showDefault()" class="btn btn-default">Default
	</button><button ng-click="showSelector()" class="btn btn-default">Selector
</button><button ng-click="showTemplateUrl()" class="btn btn-default">Template</button>
		<a href="https://github.com/dankahle/dk-modal" target="_blank" class="github" ng-click="clearOkState()">
			<span class="icon-github"></span>
		</a>
	</div>


<div class="options form-group-sm">
	<a href="" class="qrcode-small" dk-modal-trigger=".qrcodeModal" data-cancel-event-name="donothin" data-width="150px"></a>
	<fieldset>
		<legend>device mode</legend>
		<div class="radio-inline">
			<label><input type="radio" ng-model="opts.test.mode" value="mobile"> mobile</label>
		</div>
		<div class="radio-inline">
			<label><input type="radio" ng-model="opts.test.mode" value="desktop"> desktop</label>
		</div>
	</fieldset>

	<fieldset>
		<legend>position</legend>
		<div class="radio-inline">
			<label><input type="radio" ng-model="position" value="default" ng-click="hideTarget()"> default</label>
		</div>
		<div class="radio-inline">
			<label><input type="radio" ng-model="position" value="offset" ng-click="hideTarget()"> offset</label>
		</div>
		<div class="radio-inline">
			<label><input type="radio" ng-model="position" value="target" ng-click="showTarget()"> target</label>
		</div>
		<div class="positionDetails form-group-sm">

			<div ng-cloak ng-show="position == 'offset'">
				<div class="form-group details">
					<label class="col-xs-2 control-label input">top</label>

					<div class="col-xs-4">
						<input class="form-control" ng-model="opts.offsetTop">
					</div>
					<div class="col-xs-4">
						<span class="units">px, %</span>
					</div>
				</div>
				<div class="form-group details">
					<label class="col-xs-2 control-label input">left</label>

					<div class="col-xs-4">
						<input class="form-control" ng-model="opts.offsetLeft">
					</div>
					<div class="col-xs-4">
						<span class="units">px, %</span>
					</div>
				</div>
			</div>

			<div ng-cloak ng-show="position == 'target'">
				<div class="form-group details">
					<div class="col-xs-12">
						<div class="radio-inline">
							<label><input type="radio" ng-model="opts.targetSide" value="left"> left</label>
						</div>
						<div class="radio-inline">
							<label><input type="radio" ng-model="opts.targetSide" value="right"> right</label>
						</div>
					</div>
				</div>
				<div class="form-group details">
					<div class="col-xs-12">
						<div class="radio-inline">
							<label><input type="radio" ng-model="opts.targetVert" value="top"> top</label>
						</div>
						<div class="radio-inline">
							<label><input type="radio" ng-model="opts.targetVert" value="middle"> middle</label>
						</div>
						<div class="radio-inline">
							<label><input type="radio" ng-model="opts.targetVert" value="bottom"> bottom</label>
						</div>
					</div>
				</div>
				<div class="form-group details">
					<label class="col-xs-2 control-label input">offset</label>

					<div class="col-xs-4">
						<input class="form-control" ng-model="opts.targetOffset">
					</div>
					<div class="col-xs-4">
						<span class="units">px</span>
					</div>
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset class="backdrop">
		<legend>backdrop</legend>
		<div class="form-group details">
			<div class="checkbox-inline">
				<label><input type="checkbox" ng-model="opts.key"> keyboard</label>
			</div>
			<div class="checkbox-inline">
				<label><input type="checkbox" ng-model="opts.click"> click</label>
			</div>
		</div>
		<div class="form-group details">
			<label class="col-xs-3 control-label input">color</label>
			<div class="col-xs-4">
				<input id="backdropColor" type="color" class="form-control" ng-model="backdropColor" style="margin-left: -10px">
			</div>
			<div class="col-xs-2">
				<span class="units" style="margin-left: -18px">hex</span>
			</div>
		</div>
		<div class="form-group details">
			<label class="col-xs-3 control-label input">opacity</label>
			<div class="col-xs-4">
				<input class="form-control-range" type="range" min="0" max="1" step=".1" ng-model="backdropOpacity" style="margin-left: -10px">
			</div>
			<div class="col-xs-2" style="position: relative;">
				<span class="units" style="margin-left: -18px">{{backdropOpacity}}</span>
				<div class="backdropExample"></div>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>dimensions</legend>
		<div class="form-group details">
			<label class="col-xs-2 control-label input">width</label>
			<div class="col-xs-4">
				<input class="form-control" ng-model="opts.width">
			</div>
			<div class="col-xs-4">
				<span class="units">px, %</span>
			</div>
		</div>
		<div class="form-group details">
			<label class="col-xs-2 control-label input">height</label>
			<div class="col-xs-4">
				<input class="form-control" ng-model="opts.height">
			</div>
			<div class="col-xs-4">
				<span class="units">px, %</span>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>default template</legend>
		<div class="form-group details">
			<div class="checkbox-inline">
				<label><input type="checkbox" ng-model="showHeader"> show header</label>
			</div>
			<div class="checkbox-inline">
				<label><input type="checkbox" ng-model="opts.defaultClose"> close icon</label>
			</div>
		</div>
		<span class="loose-label">footer:</span>

		<div class="form-group details">
			<div class="col-xs-12">
				<div class="radio-inline">
					<label><input type="radio" ng-model="opts.defaultFooter" value=""> none</label>
				</div>
				<div class="radio-inline">
					<label><input type="radio" ng-model="opts.defaultFooter" value="ok"> ok</label>
				</div>
				<div class="radio-inline">
					<label><input type="radio" ng-model="opts.defaultFooter" value="okcancel"> okcancel</label>
				</div>
				<div class="radio-inline">
					<label><input type="radio" ng-model="opts.defaultFooter" value="yesno"> yesno</label>
				</div>
			</div>
		</div>
	</fieldset>


</div>
<!--options-->

<div class="main">

</div>
<!--main-->


<div class="selModal" style="display:none;">
	<span class="dk-modal-close exit-cancel">&times;</span>

	<div class="dk-modal-header">Selector Modal</div>
	<div class="dk-modal-body">{{selectorModalBody}}</div>
	<div class="dk-modal-footer">
		<button class="btn btn-default exit-ok">OK</button>
	</div>
</div>

<div class="qrcodeModal" style="display:none">
	<img src="qrcode.png" width="148" height="148">
</div>

<!--build:js vendor.min.js-->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../js/jquery-ui-core-and-draggable.js"></script>
<script src="../bower_components/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-touch/angular-touch.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<!--endbuild-->

<script src="dk-modal.js"></script>
<!--<script src="../dist/dk-modal.min.js"></script>-->
<script src="demo.js"></script>
<script>

</script>
</body>
</html>

