<!DOCTYPE html>
<html ng-app='app' ng-strict-di>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>demo</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="../tmp/css/dkModal.css">
	<link rel="stylesheet" href="../tmp/css/demo.css">

</head>
<body ng-controller="ctrl">

<br><br><br><br><br><br>
<a href="#" dk-modal-trigger=".selModal" data-target="this" data-something="5">trigger</a><br>
<br><br><br><br><br><br>

<button class="three" ng-click="show()" class="btn btn-default">show</button>
<br><br><br><br><br><br>
<div class="three">
	safdasdffsadfasdfasdfasdfasdfasddsfsdfsdfsdfsadf<span class="one">span</span>
</div>

<div id="selModal" class="selModal" style="display:none;">
	<span class="dk-modal-close exit-cancel">&times;</span>
	<div class="dk-modal-header">Selector Modal</div>
	<div class="dk-modal-body">
		selector modal contents: {{selModalAppend}}
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia
	</div>
	<div class="dk-modal-footer">
		<button class="btn btn-default exit-cancel">No</button>
		<button class="btn btn-primary exit-ok">Yes</button>
	</div>
</div>


<script type="text/ng-template" id="mymodal.html">
	<div id="one" ng-controller="addCtrl">
		<span class="exit-cancel dk-modal-close">&times;</span>
		<div class="dk-modal-header">Template Modal</div>
		<div class="dk-modal-body">
			<form id="myform">
				name: <input ng-model="user.name"><br>
				{{userAgent}}<br>
			</form>
		</div>
			<div class="dk-modal-footer">
				<button type="button" form="myform" class="btn btn-default exit-cancel">Cancel</button>
				<button type="submit" form="myform" class="btn btn-default exit-ok">Ok</button>
			</div>
	</div>
</script>

<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-touch/angular-touch.js"></script>
<script src="../tmp/js/dkModal.js"></script>
<script src="../tmp/js/app.js"></script>
<script>

</script>
</body>
</html>
