@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?irswn4');
	src:url('fonts/icomoon.eot?#iefixirswn4') format('embedded-opentype'),
		url('fonts/icomoon.ttf?irswn4') format('truetype'),
		url('fonts/icomoon.woff?irswn4') format('woff'),
		url('fonts/icomoon.svg?irswn4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
	content: "\f09b";
}
