.dk-modal-backdrop {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  /* animation */
  transition: opacity 0.2s;
  opacity: 0;
}
.dk-modal-backdrop.open {
  opacity: 1;
}
.dk-modal {
  position: fixed;
  z-index: 10001;
  overflow: auto;
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  outline: none;
  /* animation */
  opacity: 0;
  transition: opacity 0.2s;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dk-modal.open {
  opacity: 1;
}
@media (min-width: 768px) {
  .dk-modal {
    width: 66%;
  }
}
@media (min-width: 992px) {
  .dk-modal {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .dk-modal {
    width: 46%;
  }
}
.dk-modal .dk-modal-header {
  font-size: 23px;
  padding: 20px 32px;
}
.dk-modal .dk-modal-header + .dk-modal-body,
.dk-modal .dk-modal-header + .dk-modal-footer {
  padding-top: 0;
}
.dk-modal .dk-modal-body {
  padding: 20px 32px;
}
.dk-modal .dk-modal-body + .dk-modal-footer {
  padding-top: 0;
}
.dk-modal .dk-modal-footer {
  padding: 20px 32px;
  text-align: center;
}
.dk-modal .dk-modal-footer .btn {
  margin-right: 6px;
  min-width: 67px;
}
.dk-modal .dk-modal-close {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 27px;
  font-size: 24px;
  position: absolute;
  top: 6px;
  right: 8px;
}
.dk-modal .dk-modal-close:hover {
  font-weight: bold;
  font-size: 27px;
  cursor: pointer;
}
