@import '../bower_components/bootstrap/less/variables';

@transition: opacity .2s;

.dk-modal-backdrop {
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .2);
	outline: none; // has tabindex, defeat outline
	/* animation */
	transition: @transition;
	opacity: 0;
	&.open {
		opacity: 1;
	}
}

.dk-modal {
	position: fixed;
	z-index: 10001;
	overflow: auto;
	background: white;
	border: 1px solid lightgray; //todo?
	border-radius: 4px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .6); //todo?
	outline: none; // has tabindex, defeat outline
	/* animation */
	opacity: 0;
	transition: @transition;
	&.open {
		opacity: 1;
	}

	// width
	width: 90%;
	@media (min-width: 400px) {
		width: 80%;
	}
	@media (min-width: @screen-sm) {
		width: 66%;
	}
	@media (min-width: @screen-md) {
		width: 50%;
	}
	@media (min-width: @screen-lg) {
		width: 46%;
	}

	// center
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); // todo: needs -webkit-transform for phone
}

// template
.dk-modal {
	@pad-vert: 20px;
	@pad-horiz: 32px;

	.dk-modal-header {
		font-size: 21px;
		padding: @pad-vert @pad-horiz 0;
		margin-bottom: @pad-vert;
		&[class*=' ng-hide'] + .dk-modal-body {
			padding-top: 9px;
		}
	}
	.dk-modal-body {
		padding: 0 @pad-horiz;
		margin: @pad-vert 0;
	}
	.dk-modal-footer {
		padding: 0 @pad-horiz @pad-vert;
		margin-top: @pad-vert;
		text-align: center;
		.btn {
			margin-right: 6px;
			min-width: 67px;// width of cancel, so ok/cancel are same size, not cool for yes/no though
		}
	}
	// we could do this with :before, but this makes it easier to add icon classes instead
	.dk-modal-close {
		@height: 30px;
		@font-size: 24px;
		display: inline-block;
		text-align: center;
		width: @height;
		height: @height;
		line-height: @height - 3;
		font-size: @font-size;
		position:absolute;
		top: 6px;
		right: 8px;
		&:hover {
			font-weight: bold;
			font-size: @font-size + 3;
			cursor: pointer;
		}
	}
}

